* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(210,19%,18%);
    --DarkBlue: hsl(215,22%,15%);
    --VeryDarkBlue: hsl(228,11%,9%);
}

body {
    min-height: 100vh;
    background-color: var(--VeryDarkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-family: "Overpass", sans-serif;
    font-size: 15px;
    color: var(--LightGrey);
    line-height: 1.5;
}

h1 {
    color: var(--White);
    font-weight: 500;
    font-size: 28px;
}
.container, 
.thankyouState{
    width: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--DarkBlue);
    border-radius: 25px;
    padding: 2rem;
    
    gap: 1rem;
    
    
}


.options {
    width: 22rem;
    display: flex;
    justify-content: space-between;
    /* border: solid; */
    
}

div.starImg  {
    padding: 0;
    margin: 0;
    /* border: solid; */
}

.roundBtns,
.starImg {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--LightGrey);
    background-color: var(--MediumGrey);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    /* border: solid; */
}
button {
    border: none;
}

.roundBtns:hover {
    background-color: var(--Orange);
    color: var(--White);
}

.submitBtn > button {
    background-color: var(--Orange);
    color: var(--White);
    border: none;
    width: 22rem;
    border-radius: 50px;
    padding: 1rem;
    letter-spacing: 2.5px;
    font-weight: 700;
}

button:hover {
    background-color: var(--White);
    color: var(--Orange);
    cursor: pointer;
}

.ratingState {
    /* toggle between default and none */
    display: flex;  
}

.thankyouState {
    text-align: center;
    display: none;
    align-items: center;
    padding: 2.5rem;

}

.displayResult {
    /* border: solid; */
    background-color: var(--MediumGrey);
    color: var(--Orange);
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 50px;
    margin-bottom: 1rem;
    font-size: 17px;
}

.thankyouState img {
    margin-bottom: 1rem;
}


@media (max-width: 466px) {
    body {
        width: 375px;
    }
    .container {
        width: 340px;
        padding: 1rem;
    }

    .options ,
    .submitBtn > button {
        width: 300px;
    }
}
